@import '../../../styles/variables';

.categorycontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    width: 100%;
    & .cardcategory {
        margin-bottom: 23px;
    }

    @media(min-width: $breakpoint-tablet) {
        padding: 0 0;
        max-width: 689px;
        .cardcategory {
            margin-bottom: 27px;
        }
    }
    @media(min-width: $breakpoint-desktop) {
        max-width: 1111px;
        display: grid;
        grid-template-columns: 541px 541px;
        grid-template-rows: 320px 320px;
        column-gap: 32px;
        row-gap: 32px;
        .cardcategory {
            margin-bottom: 0px;
            max-height: 100%;
            height: 100%;
        }
        .cardcategory.web {
            grid-column: 1;
            grid-row: 1/3;
            max-height: 100%;
            height: 100%;
        }
    }
}