@import '../../styles/variables';

.quality {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 412px;
    margin-bottom: 80px;
    @media(min-width: $breakpoint-tablet) {
        flex-direction: row;
        height: 202px;
    }
    &--image {
        background-image: url('../../assets/shared/desktop/bg-pattern-small-circle.svg');
        background-repeat: no-repeat;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media(min-width: $breakpoint-tablet) {
            align-items: flex-start;
            padding-left: 47px;
        }
        &--title {
            @media(min-width: $breakpoint-tablet) {
                padding: 0 0;
                padding-bottom: 27px;
            }
        }
        &--description {
            font-style: normal;
        }
    }
}