@import '../../styles//variables';
.productcard {
    display: flex;
    flex-direction: column;
    margin-top: 0 !important;
    @media(min-width: $breakpoint-tablet) {
        flex-direction: row;
        height: 310px;
    }
    @media(min-width: $breakpoint-desktop) {
        flex-direction: column;
        height: 478px;
        width: 350px;
    }
    &__image {
        display: flex;
        max-width: 327px;
        min-width: 327px;
        max-height: 320px;
        height: 320px;
        @media(min-width: $breakpoint-tablet) {
            max-width: 339px;
            min-width: 339px;
            max-height: 310px;
            height: 310px;
        }
        @media(min-width: $breakpoint-desktop) {
            max-width: 350px;
            min-width: 350px;
            max-height: 320px;
            height: 320px;
        }
        img {
            height: 100%;
            width: 100%;

            border-top-left-radius: 15px; 
            border-top-right-radius: 15px; 
            @media(min-width: $breakpoint-tablet) {
                border-top-left-radius: 0px; 
                border-top-right-radius: 0px; 
                border-top-left-radius: 15px; 
                border-bottom-left-radius: 15px; 
            }
            @media(min-width: $breakpoint-desktop) {
                border-top-left-radius: 15px; 
                border-top-right-radius: 15px; 
                border-bottom-left-radius: 0px; 
                border-bottom-right-radius: 0px; 
            }
        }
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-bg-productcard;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        text-align: center;
        height: 155px;
        &:hover {
            cursor: pointer;
            background-color: $brand-primary-peach;
            .productcard__info__title, .productcard__info__text {
                color: $brand-primary-white;
            }
        }
        @media(min-width: $breakpoint-tablet) {
            border-bottom-left-radius: 0px;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                height: 100%;
                width: 100%;
        }
        @media(min-width: $breakpoint-desktop) {
            height: 158px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        &__title {
            margin-top: 32px;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 5px;
            color: $brand-primary-peach;
            @media(min-width: $breakpoint-tablet) {
                margin-top: 109px;
            }
            @media(min-width: $breakpoint-desktop) {
                margin-top: 32px;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
        &__text {
            margin-top: 26px;
            font-size: 16px;
            line-height: 26px;
            color: $brand-secondary-dark-grey;
            max-width: 266px;
            text-align: center;
            @media(min-width: $breakpoint-tablet) {
                margin-top: 20px;
                max-width: 27ch;
            }
        }
    }
}
