html {
    box-sizing: border-box;
    font-family: $font-stack;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
}

section:not(:first-child) {
    margin-top: 120px;
}
main {
    position: relative;
    @media(min-width: $breakpoint-tablet) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 39px;
    }
    @media(min-width: $breakpoint-desktop) {
        padding: 0 164px
       
    }
}
.hide-on-tablet {
    @media(min-width: $breakpoint-tablet) {
        display: none;
    }
}

.hide-on-mobile {
    @media(max-width: $breakpoint-tablet) {
        display: none;
    }
}
.productlist {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(327px, 327px);
    grid-template-rows: repeat(auto-fit, minmax(478px, 478px));
    width: $max-width-mobile; 
    gap: 30px;
    @media(min-width: $breakpoint-tablet) {
        grid-template-columns: minmax(689px, 689px);
        grid-template-rows: repeat(auto-fit, minmax(310px, 310px));
        width: $max-width-tablet;
        gap: 30px;
    }
    @media(min-width: $breakpoint-desktop) {
        grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
        grid-template-rows: repeat(auto-fill, minmax(478px, 478px));
        width: $max-width-desktop;
        row-gap: 30px;
    }
    margin-top: 120px;
}