html {
    box-sizing: border-box;
    font-family: $font-stack;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 500;
    font-size: 48px;
    line-height: 48px;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 2px;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 5px;
}

.hide-on-tablet {
    @media(min-width: $breakpoint-tablet) {
        display: none;
    }
}

.hide-on-mobile {
    @media(max-width: $breakpoint-tablet) {
        display: none;
    }
}