// Font family
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

$font-stack: 'Jost', sans-serif;

/*  Breakpoints  */
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1439px;