// Font family
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');

$font-stack: 'Jost', sans-serif;

/*  Colors  */
$brand-primary-peach: #E7816B;
$brand-primary-black: #1D1C1E;
$brand-primary-white: #FFFFFF;

$brand-secondary-light-peach: #FFAD9B;
$brand-secondary-dark-grey: #333136;
$brand-secondary-light-grey: #F1F3F5;

//cards
$color-bg-card: #E7816B;

/*  Breakpoints  */
$breakpoint-tablet: 767px;
$breakpoint-desktop: 1439px;

$max-width-tablet: 689px;
$max-width-desktop: 1111px;