.nomatch {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    &__title {
        font-weight: 500;
        font-size: 32px;
        line-height: 36px;
        color: #E7816B;
    }
}
