@import '../../styles/variables';

.contactform {
    padding: 69px 21px;
    display: flex;
    flex-direction: column;
    background-color: $color-bg-card;
    @media(min-width: $breakpoint-tablet) {
        max-width: $max-width-tablet;
        min-width: $max-width-tablet;
        max-height: 711px;
        min-height: 711px;
        border-radius: 12px;
        padding: 0 57px;
        padding-top: 73px;
        padding-bottom: 69px;
    }
    @media(min-width: $breakpoint-desktop) {
        max-width: $max-width-desktop;
        min-width: $max-width-desktop;
        min-height: 480px;
        max-height: 480px;
        flex-direction: row;
        padding: 0 86px;
    }
    
    &__info {
        position: relative;
        &::after {
            @media(min-width: $breakpoint-desktop) {
                position: absolute;
                content: "";
                top: 0;
                left: -87px;
                background-position: 76% 100%;
                width: 640px;
                height: 100%;
                background-image: url('../../assets/contact/desktop/bg-pattern-hero-desktop.svg');
                background-repeat: no-repeat;
                z-index: 1;
            }
        }
        &__title {
            font-size: 32px;
            line-height: 36px;
            text-align: center;
            color: $brand-primary-white;
            @media(min-width: $breakpoint-tablet) {
                text-align: left;
                font-size: 48px;
                line-height: 48px;
            }
            @media(min-width: $breakpoint-desktop) {
                margin-top: 137px;
            }
        }
        &__text {
            margin-top: 30px;
            text-align: center;
            font-size: 15px;
            line-height: 25px;
            color: $brand-primary-white;
            font-weight: 400;
            @media(min-width: $breakpoint-tablet) {
                text-align: left;
                max-width: 575px;
                font-size: 16px;
                line-height: 26px;
            }
            @media(min-width: $breakpoint-desktop) {
                max-width: 445px;
            }
        }

    }
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 291px;
       height: 291px;
        @media(min-width: $breakpoint-tablet) {
           min-width: 573px;
        }
        @media(min-width: $breakpoint-desktop) {
            max-width: 380px;
            min-width: 380px;
            max-height: 291px;
            min-height: 291px;
            height: 100%;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 56px;
        height: 100%;
        @media(min-width: $breakpoint-tablet) {
            margin-top: 43px;
        }
        @media(min-width: $breakpoint-desktop) {
            margin-top: 56px;
            margin-left: 100px;
            height: 100%;
        }
        //  Show success message in place of submit button
        &__success {
            color: $brand-primary-white;
            font-weight: 700;
            padding: 54px;
            animation: fadeIn 3s;
        }
        @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
        }
        &__button {
            margin-top: 40px;
            border: none;
            width: 152px;
            height: 56px;
            border-radius: 8px;
            font-size: 15px;
            line-height: 22px;
            letter-spacing: 1px;
            color: $brand-primary-black;
            font-weight: 500;
            -webkit-appearance: button;
            background-color: #fff;
            &:hover {
                cursor: pointer;
                background-color: $brand-secondary-light-peach;
                color: $brand-primary-white
            }
            @media(min-width: $breakpoint-tablet) {
               align-self: flex-end;
               margin-top: 22px;
            }
            @media(min-width: $breakpoint-desktop) {
                margin-top: 24px;
            }
        }
        &__label {
            width: 100%;
            position: relative;
            &--border {
                border-bottom: 1px solid $brand-primary-white;
            }
            &:not(:last-of-type) {
                height: 62px;
                @media(min-width: $breakpoint-tablet) {
                    margin-bottom: 24px;
                    height: 38px;
                    max-height: 38px;
                    padding-bottom: 18px;
                }
            }
            &:last-of-type {
                min-height: 95px;
                margin-top: 31px;
                @media(min-width: $breakpoint-tablet) {
                    min-height: 102px;
                    max-height: 102px;
                    margin-top: 0;
                }
            }

        }
        &__field {
            font-family: "Jost", sans-serif;
            font-size: 15px;
            line-height: 26px;
            font-weight: 500;
            color: $brand-primary-white;
            background-color: $color-bg-card;
            mix-blend-mode: normal;
            border: none;
            padding-left: 10px;
            outline: none;
            width: 100%;
            height: 99%;
            &::placeholder {
                opacity: 0.5;
                vertical-align: top;
            }
            &:hover {
                cursor: pointer;
            }
            @media(min-width: $breakpoint-tablet) {
                padding-left: 19px;
            }
            &__textarea {
                width: 100%;
                height: 99%;
                resize: none;
                font-weight: 600;
            }
            &--error {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 12px;
                font-style: italic;
                line-height: 26px;
                color: $brand-primary-white;
                display: flex;
                justify-content: flex-end;
                height: 26px;
                margin-right: 9px;
                vertical-align: middle;
                &::after {
                    margin-left: 9px;
                    margin-top: 3px;
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-image: url('../../assets/contact/desktop/icon-error.svg');
                    background-size: cover;
                }
            }
            
        }
}
}

/* 
    Change the default autocomplete behaviour
*/
:-webkit-autofill,
:-webkit-autofill:hover, 
:-webkit-autofill:focus {
  -webkit-text-fill-color: $brand-primary-white;
  -webkit-box-shadow: 0 0 0px 1000px $color-bg-card inset;
}