@import '../../styles/variables';


.cardcategory {
    position: relative;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    &:hover {
        cursor: pointer;
        .cardcategory__content {
         background: rgba(231, 129, 107, .8)
        }
    }
    @media(min-width: $breakpoint-tablet) {
        max-height: 200px;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        border-radius: 16px;
        &--icon {
            padding-left: 22px;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: 1.4px;
        color: $brand-primary-white;
        margin-bottom: 22px;
        @media(min-width: $breakpoint-tablet) {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 2px;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: $brand-primary-white;
        
    }
    &.web {
        background-image: url('../../assets/home/mobile/image-web-design.jpg');
        @media(min-width: $breakpoint-tablet) {
            background-image: url('../../assets/home/tablet/image-web-design.jpg');
        }
        @media(min-width: $breakpoint-desktop) {
            background-image: url('../../assets/home/desktop/image-web-design-large.jpg');
        }
    }
    &.app {
        background-image: url('../../assets/home/mobile/image-app-design.jpg');
        @media(min-width: $breakpoint-tablet) {
            background-image: url('../../assets/home/tablet/image-app-design.jpg')
        }
        @media(min-width: $breakpoint-desktop) {
            background-image: url('../../assets/home/desktop/image-app-design.jpg');
        }
    }
    &.graphic {
        background-image: url('../../assets/home/mobile/image-graphic-design.jpg');
        @media(min-width: $breakpoint-tablet) {
            background-image: url('../../assets/home/tablet/image-graphic-design.jpg')
        }
        @media(min-width: $breakpoint-tablet) {
            background-image: url('../../assets/home/desktop/image-graphic-design.jpg')
        }
    }
}