@import './styles/variables';

.quality__container {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    @media(min-width: $breakpoint-tablet) {
        padding: 0 0;
        max-width: 689px;

    }
    @media(min-width: $breakpoint-desktop) {
        flex-direction: row;
        height: 412px;
        max-width: 1111px;
    }

}

main {
    @media(min-width: $breakpoint-desktop) {
        &::before {
            content: "";
            position: absolute;
            top: 15%;
            width: 100%;
            background-image: url('./assets/shared/desktop/bg-pattern-leaf.svg');
            background-repeat: no-repeat;
            z-index: -1;
            background-position: 0% 6%;;
            height: 700px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom:  -16%;
            width: 100%;
            background-image: url('./assets/shared/desktop/bg-pattern-leaf.svg');
            background-repeat: no-repeat;
            z-index: -1;
            transform: rotate(180deg);
            background-position: -2% 12%;
            height: 700px;
        }

    }
}