@import './styles/variables';

.quality__container {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
    @media(min-width: $breakpoint-tablet) {
        padding: 0 0;
        max-width: 689px;

    }
    @media(min-width: $breakpoint-desktop) {
        flex-direction: row;
        height: 412px;
        max-width: 1111px;
    }

}